<div class="text-center">
  {{!-- <h2>{{user_id}}: {{username}}</h2> We are not passing username into render calls --}}
  <div class="col-md-5">
    <a href="/new">+ New Post</a>
  {{#each blogs as |blog|}}
  <a class="text-normal" href="/edit/{{blog.id}}">
  <div class="card">
    <div class="card-header display-flex justify-space-between">
      <h4>{{blog.title}}</h4>
      <small>{{blog.username}} on {{format_date blog.date_created}}</small>
    </div>
    <div class="card-body">{{blog.content}}</div>
    {{!-- Edit this Post</a> --}}
    {{!-- <div class="card-footer">posted by: {{blog.username}} on {{format_date blog.date_created}}</div> --}}
  </div>
</a>
  {{/each}}
  </div>
</div>
