<!-- Loop over each object in the projects array -->
{{!-- 
Our blog list is a map (object) and handlebars does not have a build in method for looping through object properties
We can create and register a 'helper' function that can be userd in handlebars in place of {{#each}} => {{#eachProperty}}
and will return whatever values are returned by the helper function (key, value)

{{#eachProperty object}}
  {{property}}: {{value}}
{{/eachProperty}}

 --}}
<div class="text-center">
  {{!-- <h2>{{user_id}}: {{username}}</h2> We are not passing username into render calls --}}
  <div class="col-md-5">
    <a href="/new">+ New Post</a>
  {{#each blogs as |blog|}}
  <a class="text-normal" href="/edit/{{blog.id}}">
  <div class="card">
    <div class="card-header display-flex justify-space-between">
      <h4>{{blog.title}}</h4>
      <small>{{blog.username}} on {{format_date blog.date_created}}</small>
    </div>
    <div class="card-body">{{blog.content}}</div>
    {{!-- {{#if blog.id === blogIdParam}} --}}
    <ul>
      {{#each blog.comments as |comment|}}
      <li>{{comment.content}} - {{comment.username}}</li>
      {{/each}}
    </ul>
    {{!-- Edit this Post</a> --}}
    {{!-- <div class="card-footer">posted by: {{blog.username}} on {{format_date blog.date_created}}</div> --}}
  </div>
</a>
  {{/each}}
  </div>
</div>
